<div class = 'container'>
  <div class = 'box'>
    <ul>
    <li><h4>Order</h4></li>
      <li><a href="#">Pizzas</a></li>
      <li><a href="#">Pasta</a></li>
      <li><a href="#">Sides</a></li>
      <li><a href="#">Desserts</a></li>
      <li><a href="#">Drinks</a></li>
    </ul>
    </div>
    <div class = 'box'>
      <ul>
      <li><h4>Help & Service</h4></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">Franchise</a></li>
      <li><a href="#">FAQS & Help</a></li>
      <li><a href="#">Gift Cards</a></li>
       <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="box">
        <ul>
        <li><h4>Nutrition</h4></li>
        <li><a href="#">Nutrition Information</a></li>
        <li><a href="#">Food Allergen & Senstivity</a></li>
        <li><a href="#">Ingredient Listing</a></li>
        <li><a href="#">Gluten Free FAQ</a></li>
        </ul>
      </div>
      <div class="box">
        <ul>
        <li><h4>Our Policies</h4></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Responsible disclosure</a></li>
         <li><a href="#">Cookies and Ads</a></li>
        </ul>
      </div>
  </div>
