<nav>
  <ul class = 'menu align-center icon-top'>
    <li><a href="#">MENU</a></li>
    <li><a href="#">COUPONS</a></li>
    <li><a href="#">LOCATIONS</a></li>
    <li><a href="#">TRACKER</a></li>
    <li><a href="#"><i class = 'material-icons' id = 'btnAccount'>account_circle</i><span>SIGN IN</span></a></li>
    <li><a href="#"><i class = 'material-icons' id = 'btnCart'>shopping_cart</i><span>CART</span></a></li>
    </ul>
</nav>
