#pizza-image {
  width: 200px;
  height: 200px;
}

.pizzaCustoms-container {
  display:flex;
  justify-content: space-around;
}

.pizzaBuilder-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}
