  <div class="row">
    <div class = 'pizza-image'>
      <img src="images/pizza.jpg" alt="pizza" id = 'pizza-image'>
    </div>
  </div>
<form>
<div class="row">
  <div class="small-12 columns">
      <label><h6>Choose Your Size</h6></label>
      <div class="row">
        <input type="radio" name="pizzaSize" value="small" id = 'smallSize'><label for="smallSize">Small(10")</label>
      </div>
       <div class="row">
        <input type="radio" name="pizzaSize" value="medium" id = 'mediumSize'><label for="mediumSize">Medium(12")</label>
       </div>
         <div class="row">
           <input type="radio" name="pizzaSize" value="large" id = 'largeSize'><label for="largeSize">Large(14")</label>
         </div>
        <div class="row">
          <input type="radio" name="pizzaSize" value="xlarge" id = 'xlargeSize'><label for="xlargeSize">X-Large(16")</label>
        </div>
     </div>
     <div class="small-12 columns">
       <p>pp</p>
       </div>
  </div>
</form>
