<div class="">
  <div class="progress-bar">
    <div class = 'pizza-image'>
      <img src="images/pizza.jpg" alt="pizza" id = 'pizza-image'>
    </div>
  </div>
  <div class="customizations">
    <div id = 'panel0' class = 'custom'>
      <div class="custom-box">
        <ul>
          <li><h4>Choose Your Size</h4></li>
          <li><a href="#" class = 'button small'>Small(10")</a></li>
          <li><a href="#" class = 'button small'>Medium(12")</a></li>
          <li><a href="#" class = 'button small'>Large(14")</a></li>
          <li><a href="#" class = 'button small'>X-Large(16")</a></li>
        </ul>
      </div>
      <div class="custom-box">
        <ul>
          <li><h4>Choose Your Crusts</h4></li>
        
        </ul>
      </div>
    </div>
  </div>
</div>
