<div class = "pizzaBuilder-container">
    <div class = 'pizza-image'>
      <img src="images/pizza.jpg" alt="pizza" id = 'pizza-image'>
    </div>
<div class="pizzaCustoms-container">
  <div class="customs-box">
     <ul>
        <li><label><h6>Choose Your Size</h6></label></li>
      <li><input type="radio" name="pizzaSize" value="small" id = 'smallSize'><label for="smallSize">Small(10")</label> </li>
      <li><input type="radio" name="pizzaSize" value="medium" id = 'mediumSize'><label for="mediumSize">Medium(12")</label> </li>
      <li><input type="radio" name="pizzaSize" value="large" id = 'largeSize'><label for="largeSize">Large(14")</label> </li>
      <li><input type="radio" name="pizzaSize" value="xlarge" id = 'xlargeSize'><label for="xlargeSize">X-Large(16")</label></li>
     </ul>
     </div>
     <div class="customs-box">
       <ul>
          <li><label><h6>Choose your Crust</h6></label></li>
        <li><input type="radio" name="pizzaCrust" value="small" id = 'smallSize'><label for="smallSize">Small(10")</label> </li>
        <li><input type="radio" name="pizzaCrust" value="medium" id = 'mediumSize'><label for="mediumSize">Medium(12")</label> </li>
        <li><input type="radio" name="pizzaCrust" value="large" id = 'largeSize'><label for="largeSize">Large(14")</label> </li>
       </ul>
       </div>
  </div>
</div>
