<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet">
     <script src="javascripts/pizzabuilder/design.js" charset="utf-8" defer></script>
<link rel="stylesheet" href="/stylesheets/navigation.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/pizzabuilder.css">
    <title><%= title %> </title>
  </head>
  <body>
   <header>
     <%- include('./partials/navigation'); %>
   </header>
   <%- include(`../pages/${template}`); %>
   <footer>
     <%- include('./partials/footer'); %>
   </footer>
  </body>
</html>
